<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add workout</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <div th:replace="~{fragments/head-links :: head-link}"></div>
    <link rel="stylesheet" href="/css/add-training.css"/>
</head>
<body>
<div class="content">
    <!--    <h1>Add Workout</h1>-->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="box">
        <form th:action="@{/{username}/add-training(username=${username})}" method="post">
            <div class="add-workout">
                <label for="workoutType"><h4> Workout Type: </h4></label>
                <br>
                <select id="workoutType" name="workoutTypeId" required>
                    <option value="" disabled selected>Select workout type</option>
                    <option th:each="type : ${workoutTypes}"
                            th:value="${type.id}"
                            th:text="${type.name}">
                    </option>
                </select>
            </div>

            <div class="add-workout">
                <label for="date"><h4> Date and Time: </h4></label>
                <br>
                <input type="datetime-local" id="date" name="date" required/>
            </div>
            <div class="add-workout">
                <label for="durationInMinutes"><h4> Duration (min): </h4></label>
                <br>
                <input type="number" id="durationInMinutes" name="durationInMinutes" min="1" required/>
            </div>
            <div>
                <button type="submit">Add Workout</button>
            </div>
        </form>
    </div>

</div>
<div class="footer-large" th:replace="~{fragments/footer :: footer-more-details}"></div>
<div class="footer-small" th:replace="~{fragments/footer :: footer-basic}"></div>

<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>
