<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Workouts</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/common.css">
    <div th:replace="~{fragments/head-links :: head-link}"></div>


</head>
<body>

<h1 th:class="workout-header" th:text="${user.username}"></h1>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<buttton id="chartButton"> Charts </buttton>
<div id="charts" th:replace="~{fragments/workout-chart :: charts}"></div>

<div class="table-container">
    <div class="workout-container">
        <table class="workout-table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Duration (min)</th>
                <th>Workout Type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workout : ${workouts}">
                <td th:text="${#temporals.format(workout.date, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${workout.durationInMinutes}"></td>
                <td th:text="${workout.workoutType.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="summary-container">
        <div class="summary">
            <h4>Total workout time:</h4>
            <p th:text="${totalDuration} + ' minutes'"></p>
        </div>
        <div class="summary">
            <h4>Number of sessions:</h4>
            <p th:text="${sessionCount}"></p>
        </div>

        <div class="summary">
            <h4>Average duration:</h4>
            <p th:text="${averageDuration} + ' minutes'"></p>
        </div>


    </div>

    <div th:replace="~{fragments/footer :: beforefooter}"></div>
</div>

<div th:replace="~{fragments/footer :: footer-basic }"></div>
<div th:replace="~{fragments/scripts :: scripts}"></div>

</body>
</html>
