.workout-header {
    margin: 0px;
    color: white;
    text-shadow: 2px 1px 0px darkslategrey;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    background-image: url("../images/sportB.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 auto;
}

nav{
    background: #2c3e50;
    border-radius: 6px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
