.table-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow-x: auto;

}

.workout-container{
    flex: 2;
    min-width: 0;
    overflow: hidden;
    box-shadow: 2px 2px 0px black;
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    overflow-x: auto;
}

.workout-table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}



.workout-table thead {
    background-color: #2b3035;
    color: #ecf0f1;
    font-size: 1em;
    letter-spacing: 1px;
}

.workout-table th {
    padding: 16px;
    text-align: left;
}

.workout-table td {
    padding: 14px 16px;
    border-bottom: 1px solid #eee;
    font-size: 1em;
    color: #333;
}

.workout-table tbody tr:hover {
    background-color: #f9f9f9;
}

.workout-table tbody tr:nth-child(even) {
    background-color: #ededed;
}

.summary-container {
    flex: 1;
    min-width: 200px;
    margin-top: 20px;
    padding: 20px;
    background-color: #2b3035;
    border-radius: 6px;
    box-shadow: 2px 2px 0px black;
    width: fit-content;
    border: 1px solid black;
}

.summary {
    font-size: 1.1em;
    color: white;
    margin: 5px 0;
}

.summary h4{
    text-shadow: 1px 0px #a7acb1;
}



@media (max-width: 768px) {
    .workout-table th, .workout-table td {
        padding: 12px;
        font-size: 1em;
    }

    .table-container {
        flex-direction: column;
    }

    .workout-container,
    .summary-container {
        width: 100%;
    }
}

@media print {
    .no-print, .no-print *{
        display: none !important;
    }
    
}





