<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Workouts</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h1 th:utext="'Workouts for user<br>' + ${user.username}"></h1>

<div class="table-container">
    <table class="workout-table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Duration (min)</th>
            <th>Workout Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workout : ${workouts}">
        <td th:text="${#temporals.format(workout.date, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${workout.durationInMinutes}"></td>
            <td th:text="${workout.workoutType.name}"></td>
        </tr>
        </tbody>
    </table>

    <div class="summary-container">
        <p class="summary" th:text="'Total workout time: ' + ${totalDuration} + ' minutes'"></p>
        <p class="summary" th:text="'Number of sessions: ' + ${sessionCount}"></p>
        <p class="summary" th:text="'Average duration: ' + ${averageDuration} + ' minutes'"></p>
    </div>
</div>

<!--<a th:href="@{/users}">Back to user list</a>-->
</body>
</html>
